html, body, #root {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: block;
    place-items: initial;
    overflow: hidden;
}

#root {
    width: 100%;
    height: 100%;
    max-width: none;
    margin: 0;
    padding: 0;
}

.app {
    height: 100vh;
    display: grid;
    grid-template-columns: 15% auto;
}
